<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faross</title>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Registry</th>
                <th>Score</th>
                <th>State</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {{ range.Entries }}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.Type}}</td>
                <td>{{.Score}}</td>
                <td>{{.State}}</td>
                <td>{{.Date}}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</body>

</html>
